body {
  font-family: "Open Sans", sans-serif;
}

.container {
    width: 1169px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    min-height: 449px;
    color: #fff;
}

.header:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
    position: relative;
    z-index: 1;
}

.noemi-logo {
    margin-left: 3px;
}

.noemi-logo-mobile {
    display: none;
}

nav {
    display: flex;
}

.menu-list {
    display: none;
    font-size: 13px;
    margin-left: 25px;
    margin-top: 14px;
    gap: 0 34px;
    list-style-type: none;
}

.menu-button-container {
    display: block;
    height: 19px;
    width: 23px;
    margin-top: 10px;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 23px;
}

.menu-button::before {
    content: '';
    margin-top: 8px;
}

.menu-button::after {
    content: '';
    margin-top: 16px;
}

#menu-toggle:checked ~ .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked ~ .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
    margin-top: 10px;
}

#menu-toggle:checked ~ .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu-list-item {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.menu-list-item:hover {
    text-decoration: underline;
}

.header-title {
    width: 85%;
    margin: 0 auto;
    padding: 42px 0px;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 20px;
    line-height: 29.15px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
}

h2:after {
    content: '';
    display: block;
    height: 3px;
    width: 66px;
    background-color: #b59f5b;
    opacity: 0.4;
    margin: 7px auto;
}

.trends {
    margin-top: 57px;
}

.trend-list {
    max-width: 1812px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px 4px;
    margin: 28px auto 0;
    list-style-type: none;
}

.trend {
    height: 348px;
    width: calc((100% - 14px) / 4);
    position: relative;
}

.trend:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.trend-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trend-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 16px 22px;
    padding: 32px 33px;
    border: 3px solid rgba(181, 159, 91, 0.6);
}

h3 {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 6px 0 0 0;
}


.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 700;
}

.trends-tags {
    padding: 2px;
}

.tags-item {
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 18px;
}

.tags-item:hover {
    text-decoration: underline;
}

.trend-title {
    text-decoration: none;
    color: #fff;
}

.trend-title:hover {
    color: #b59f5b;
}

.articles {
    width: 779px;
    list-style-type: none;
}

.article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 61px;
}

.article-title {
    text-decoration: none;
    color: #0f0d0e;
}

.article-title:hover {
    color: #b59f5b;
}

.article-img {
    height: 294px;
}

.article-content {
    margin-left: auto;
    width: 369px;
}

.content-info {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 27px;
}

.content-date {
    font-size: 12px;
    font-weight: 400;
    color: #888;
    margin-right: 10px;
}

.content-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin-top: 43px
}

.sidebar {
    width: 270px;
    margin-top: 54px;
    margin-left: auto;
}

.sidebar-articles-title {
    margin-left: 6px;
}

.sidebar-article-title {
    text-decoration: none;
    color: #000;
}

.sidebar-article-list {
    list-style-type: none;
    margin-top: 24px;
    margin-bottom: 61px
}

h4 {
    font-size: 14px;
    line-height: 29.15px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
}

h4:after {
    content: '';
    display: block;
    background-color: #b59f5b;
    height: 3px;
    width: 66px;
    margin: 5px auto;
    opacity: 0.4;
}

.sidebar-article {
    display: flex;
    margin-top: 15px;
}

.sidebar-article-img {
    height: 70px;
    width: 70px;
    margin-top: 6px;
}

h5 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 2px;
}

.sidebar-item-content {
    width: 100%;
    margin-left: 17px;
}

.search-form {
    display: flex;
}

.search-field {
    width: 222px;
    height: 48px;
    background-color: #f4f7f6;
    font-size: 13px;
    line-height: 40px;
    padding-left: 17px;
    border: none;
}

.search-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.search-button {
    width: 48px;
    background-color: #b59f5b;
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: 18px;
    border: none;
}

.search-button:hover {
    background-color: #323232;
}

.mailing {
    margin-top: 53px;
}

.mailing-title {
    margin-right: 4px;
}

.mailing-form {
    margin-top: 22px;
}

.mailing-field {
    width: 100%;
    height: 48px;
    font-size: 13px;
    line-height: 40px;
    background-color: #f4f7f6;
    padding-left: 18px;
    border: none;
}

.mailing-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.mailing-button {
    width: 100%;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 19px;
}

.sidebar-tags {
    margin-top: 51px;
}

.sidebar-tag-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 24px;
}

.sidebar-tags-item {
    display: block;
    min-width: 60px;
    text-align: center;
    text-decoration: none;
    color: #0f0d0e;
    border: 3px solid #eee;
    padding: 5px 13px;
}

.sidebar-tags-item:hover {
    border-color: #b59f5b;
}

.sidebar-topics {
    margin-top: 51px;
}

.sidebar-topics-title {
    margin-left: 5px;
}

.sidebar-topic-list {
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 10px;
}

.sidebar-topics-item-link {
    color: #000;
    text-decoration: none;
}

.sidebar-topics-item {
    position: relative;
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
}

.sidebar-topics-item:hover {
    color: #b59f5b;
}

.sidebar-topics sup {
    font-size: 12px;
    color: #b59f5b;
    top: -4px;
    margin-left: 4px;
}

.products {
    margin: 56px auto 0;
    flex-direction: column;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
}

.product {
    list-style-type: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 300px;
}

.product-title {
    text-decoration: none;
    color: #0f0d0e;
}

.product-content {
    line-height: 22px;
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    margin-top: -38px;
    padding: 46px 22px 24px;
    border: 3px solid rgba(181, 159, 91, 0.6);
}

.product-content p {
    font-size: 15px;
    color: #0f0d0e;
    margin-top: 3px;
}

.product-content-link {
    text-decoration: none;
    color: #b59f5b;
}

.product-content-link:hover {
    text-decoration: underline;
}

.product-buy {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    margin-top: 22px;
}

.price {
    margin-top: auto;
}

.price p {
    font-size: 20px;
}

.shop-link {
    width: 140px;
    height: 49px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 49px;
    text-align: center;
}

.shop-link:hover {
    background-color: #323232;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    background-color: #f4f7f6;
    list-style-type: none;
    padding: 30px 0;
    margin-top: 67px;
}

.copyright {
    font-size: 12px;
    color: #999;
    font-weight: 700;
    text-align: center;
    margin-top: 73px;
    margin-left: 11px;
}

.popup-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}

.popup-content {
    width: 390px;
    height: 590px;
    position: relative;
    background: #fff;
    top: 41.5%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.popup-close {
    background-image: url('../svg/form-x.svg');
    background-repeat: no-repeat;
    position: absolute;
    height: 18px;
    width: 18px;
    right: -3px;
    top: -26px;
}

.popup-toggle:checked + .popup-wrap {
    display: flex;
}

.feedback {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 46px 30px;
}

.feedback-title {
    margin-left: 7px;
}

.question {
    display: flex;
    flex-direction: column;
}

.visit-question {
    margin-top: 20px;
}

.mailing-question {
    margin-top: 33px;
}

.content-question {
    margin-top: 31px;
}

.question-field {
    width: 330px;
    height: 48px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #939594;
    border: none;
    padding-left: 19px;
    margin-top: 8px;
}

.question-field:focus {
    outline: none
}

.option-field {
    background-image: url('../svg/form-arrows.svg');
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio-wrap {
   margin-top: 9px;
   display: flex;
   gap: 15px;
}

.radio-wrap label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.radio-choice {
    background-image: url('../svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio-choice:checked {
    background-image: url('../svg/form-circle.svg');
}

.popup .question span {
    margin-right: 6px;
}

.content-question-field {
    height: 131px;
    padding: 19px 21px;
    margin-top: 10px;
    resize: none;
}

.popup-button {
    height: 50px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #b59f5b;
    text-transform: uppercase;
    margin-top: 26px;
    padding-left: 4px;
}

.popup-button:hover {
    background-color: #323232;
}

.question-field:focus {
    border: 1px solid #b59f5b;
    outline: none;
}

@media (min-width: 1200px) {
     .menu-button-container {
        display: none;
    }

    .menu-list {
        display: flex;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }

    .noemi-logo {
        margin-left: 0;
    }

    .noemi-svg {
        width: 158px;
    }

    .header {
        background-image: url('../images/banner-bg-tablet.jpg');
        min-height: 392px;
    }

    .header-wrap {
        padding-top: 43px;
    }

    .header-title {
        padding-top: 32px;
    }

    h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .menu-list {
        flex-wrap: wrap;
    }

    #menu-toggle:checked + .menu-list {
        display: flex;
    }

    h2 {
        font-size: 18px;
        line-height: 29px;
    }

    .trends {
        margin-top: 42px;
    }

    .trend-list {
        margin-top: 19px;
    }

    .trend {
        height: 300px;
        width: calc((100% - 12px) / 4);
    }

    h3 {
        font-size: 1.5vw;
        line-height: 22px;
        text-transform: uppercase;
        margin: 6px 0 0 0;
    }

    .trend-content {
        margin: 16px 20px;
        padding: 31px 29px 28px 29px;
    }

    .articles {
        width: 60%;
    }

    .article {
        margin-top: 40px;
    }

    .article:not(:last-child):after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 8px;
        background-color: #eee;
    }

    .article:nth-child(1) {
        margin-top: 48px;
    }

    .article-img {
        width: 100%;
        height: 100%;
        min-height: 303px;
        object-fit: cover;
    }

    .article-content {
        margin: 12px auto 0 0;
        padding-right: 2px;
        width: 100%;
    }

    .article .tags {
        margin-bottom: 11px;
    }

    .content-info {
        margin-top: 30px;
    }

    .content-text {
        margin-top: 25px;
    }

    .sidebar {
        width: 40%;
        margin-top: 40px;
        margin-left: 35px;
    }

    .products {
        margin-top: 50px;
    }

    .product {
        width: 48%;
    }

    .product:nth-child(n + 3) {
        margin-top: 29px;
    }
    .product picture {
        width: 87%;
    }

    .product-image {
        width: 100%;
        min-height: 227px;
        object-fit: cover;
    }

    .product-content {
        padding: 45px 19px 22px;
    }

    .socials {
        width: calc(100% - 70px);
        margin-top: 53px;
    }

    .copyright {
        margin-top: 45px;
    }

    .popup-content {
        height: 596px;
        top: 44.1%;
        left: 50%;
    }

    .popup-close {
        height: 27px;
        width: 27px;
        right: 1px;
        top: -36px;
    }

    .feedback {
        margin: 47px 30px;
    }

    .feedback-title {
        margin-left: 1px;
    }

    .radio-choice {
        background-size: 25px;
        height: 25px;
        width: 25px;
    }

    .radio-wrap {
        gap: 35px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend {
        height: 247px;
        width: calc((100% - 4px) / 2);
    }

    h3 {
        font-size: 17px;
    }
}

@media (max-width: 640px) {
    .container {
        flex-wrap: wrap;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header {
        background-image: url("../images/banner-mobile.jpg");
        min-height: 639px;
    }

    .header-wrap {
        justify-content: flex-end;
    }

    .noemi-logo {
        display: none;
    }

    .noemi-logo-mobile {
        position: relative;
        display: block;
        margin-top: 145px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        z-index: 1;
    }

    h1 {
        font-size: 26px;
        line-height: 36px;
    }

    .header-title {
        padding-top: 16px;
    }

    .menu-button-container {
        margin-top: 4px;
    }

    #menu-toggle:checked + .menu-list {
        display: inline;
        position: absolute;
        right: 45px;
        top: 17px;
    }

    h2 {
        font-size: 16px;
    }

    .trends {
        margin-top: 36px;
    }

    h2:after {
        margin-top: 3px;
    }

    .trend-list {
        margin-top: 25px;
    }

    .trend {
        height: 231px;
        width: calc((100% - 4px) / 2);
    }

    h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .trend-content {
        margin: 15px;
        padding: 27px 19px;
        padding-right: 25px;
    }

    .articles {
        width: 100%;
    }

    .article {
        margin-top: 34px;
    }

    .article:nth-child(1) {
        margin-top: 44px;
    }

    .article:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 9px;
        background-color: #eee;
    }

    .article-img {
        width: 100%;
        height: 100%;
        min-height: 253px;
        object-fit: cover;
        margin-left: 1px;

    }

    .article-content {
        margin: 14px auto 0 0;
        width: 100%;
    }

    .article .tags {
        margin-bottom: 9px;
    }

    .content-info {
        margin-top: 16px;
    }

    .content-text {
        font-size: 14px;
        line-height: 20px;
        margin-top: 11px;
        padding-right: 4px;
    }

    .sidebar {
        width: 100%;
        margin: 35px auto;
    }

    h4 {
        font-size: 16px;
        line-height: 29px;
    }

    .sidebar-articles-title {
        margin-left: 0;
    }

    .search-field {
        width: 282px;
    }

    .mailing {
        margin-top: 37px;
    }

    .sidebar-tags {
        margin-top: 36px;
    }

    .sidebar-topics {
        margin-top: 36px;
    }

    .sidebar-topics-title {
        margin-left: 0;
    }

    .products {
        margin-top: 3px;
    }

    .products h2:after {
        margin: 5px auto;
    }

    .product {
        width: 100%;
    }

    .product:not(:last-child) {
        margin-bottom: 24px;
    }

    .product-image {
        width: 100%;
        min-height: 284px;
        object-fit: cover;
    }

    .product h3 {
        font-size: 17px;
        line-height: 22px;
    }

    .product-content {
        padding: 46px 18px 25px;
    }

    .socials {
        margin-top: 42px;
        width: calc(100% - 30px);
    }

    .copyright {
        margin-top: 45px;
    }

    .popup-content {
        width: 330px;
        height: 546px;
        top: 27.2%;
        left: 50%;
    }

    .popup-close {
        height: 27px;
        width: 27px;
        right: 1px;
        top: -32px;
    }

    .feedback {
        width: calc(100% - 46px);
        height: 100%;
        margin: 22px 23px;
    }

    .feedback-title {
        margin-left: 0;
        margin-bottom: 2px;
    }

    .radio-choice {
        background-size: 26px;
        height: 26px;
        width: 26px;
    }

    .radio-wrap {
        gap: 35px;
    }

    .question-field {
        width: 280px;
    }
}

@media (max-width: 640px) and (orientation: portrait) {
    .trend {
        width: 100%;
    }
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype"),
    url("fonts/OpenSans-Regular.woff") format("woff");
    url("fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Bold.ttf") format("truetype"),
    url("fonts/OpenSans-Bold.woff") format("woff");
    url("fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}